    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .box-azul{
    background-color: #2166f9;        
    width: 400px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    }

    label{
        display: block;
    }

    .item-formulario{
        margin: 20px 0;
    }
    
    input{
        background-color: white;
        border: 0;
        outline: 0;
        border-radius: 10px;
        padding: 5px;
    }

    input:hover{
        background-color: red;
    }