body{
    background-color: rgba(255, 235, 205, 0.87);
    
    }
h1{
    color: blue;
    
    }
 .job-title{
    background-color: blue;;
    }
    #high{
        color:blue;
    }
    h2{
        color: brown;
        }
    .fundo{
        background-color: rgba(255, 102, 0, 0.432);;
        }